body {
    background-color: cadetblue;
    font-size: 22px;
}

.images{
    text-align: center;
}

.title {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.playButton {
    width: 160px;
    height: 60px;
    display: inline-block;
    margin: auto;
/*    padding-left: 500px;*/
}

.sourcesButton {
    width: 160px;
    height: 60px;
    display: inline-block;
    margin: auto;
/*    padding-left: 700px;*/
}

.sourcesPage {
    font-size: 36px;
    background-color: black;
    text-decoration-color: crimson;

}
    
    
    
    
    
    
    